@use '../config' as config;
@use '../theme_provider' as theme;

@mixin font($font-size, $line-height: $font-size) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin heading {
  font-family: Lato, Helvetica, Arial, sans-serif, -apple-system;
  font-weight: 700;
  color: theme.$color-summer-night;
}

@mixin text {
  font-family: config.$font-family-text;
  color: theme.$color-summer-night;

  a,
  button {
    font-weight: inherit;
    text-decoration: none;
  }
}

@mixin text-plain($font-weight: 400) {
  @include text;
  font-size: 16px;
  line-height: 24px;
  font-weight: $font-weight;
}

@mixin text-plain-small($font-weight: 400) {
  @include text;
  font-size: 14px;
  line-height: 20px;
  font-weight: $font-weight;
}

.title-h1,
.title-h2,
.title-h3,
.title-h4,
.title-h5,
.title-h6 {
  @include heading;
}

.title-h1 {
  font-size: 28px;
  line-height: 32px;
}

.title-h2 {
  font-size: 26px;
  line-height: 32px;
}

.title-h3 {
  font-size: 24px;
  line-height: 32px;
}

.title-h4 {
  font-size: 20px;
  line-height: 28px;
}

.title-h5 {
  font-size: 18px;
  line-height: 26px;
}

.title-h6 {
  font-size: 16px;
  line-height: 24px;
}

.text-plain {
  @include text-plain;
}

.text-plain-small {
  @include text-plain-small;
}

.text-helper {
  color: theme.$color-text-helper;
}

.red {
  color: theme.$color-gosred;
}

.uppercase {
  text-transform: uppercase;
}
