$color-azzurro-alice: #edf2fe !default;
$color-osso-grigio: #ecf0f8 !default;
$color-gosblue: #0d4cd3 !default;
$color-gosred: #ee3f58 !default;
$color-tela-rosso: #e11432 !default;
$color-summer-night: #0b1f33 !default;
$color-text-helper: #66727f !default;
$color-active-item: #1d5deb !default;
$color-button-hit: #0b40b3 !default;
$color-blu-digitale: #4d83fa !default;
$color-blu-selvaggio: #9dacce !default;
$color-pervinca: #e5eaf5 !default;
$color-background: #fafcff !default;
$color-input: #f5f7fa !default;
$color-bg-disable: #d1d5df !default;
$color-devider: #99b1e6 !default;
$color-error-highlight: rgba(238, 63, 88, 0.16) !default;
$color-shadow: #e6ebf5 !default;
$color-tagline: #e4ecfd !default;
$color-tagline-hit: #d6e2fb !default;
$color-giallo-brillante: #fed13e !default;
$color-giallo-selezionato: #f8b200 !default;
$color-foglia-di-acero: #ff8a00 !default;
$color-green-sea: #16a086 !default;
$color-nephritis: #2dc36a !default;
$color-pino-verde: #12826e !default;
$color-gray-divider: #e1e1e1 !default;
$color-telegrey-scuro: #86909c !default;
$color-white: #fff !default;
$color-hawkes-blueapprox: #e3ebfc !default;
$color-white: #fff !default;
$color-medium-purple: #9b3be5 !default;
$color-box-shadow: rgba(230, 235, 245, 0.4) !default;
