.app {
  display: grid;
  grid-template-areas:
      'header'
      'main'
      'footer';
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

lib-header {
  grid-area: header;
  height: content-box;
}

main {
  grid-area: main;
}

lib-footer {
  grid-area: footer;
  height: content-box;
}
