@use 'node_modules/ngx-neo-ui/lib/assets/styles/theme-provider/theme_provider' as theme;

.app {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

lib-header {
  grid-area: header;
  height: content-box;
}

main {
  grid-area: main;
  display: flex;
  padding-top: 80px;

  @include theme.mq(md) {
    padding-top: 128px;
  }
}

lib-footer {
  grid-area: footer;
  height: content-box;
}
