@use '../core/variables/palette/palette' as palette;

@mixin button-focus-visible {
  position: relative;
  outline: none;
  z-index: 2;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: calc(100% + 5px);
    transform: translate(-50%, -50%);
    border: 3px solid palette.$color-medium-purple;
    border-radius: 8px;
    background: #fef0cc;
  }
}
